* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/photo-1511871893393-82e9c16b81e3?ixlib=rb-0.3.5&s=83748e82ca414c764ff1dae101f3e649&auto=format&fit=crop&w=1920&q=100") no-repeat 0/cover;
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.board {
  margin: 0 auto;
  text-align: center;
}

.board .board-title {
  padding: 36px;
  margin: 0;
  text-transform: uppercase;
  color: #000;
  font-size: 2.2rem;
  font-weight: 700;
}

.board .create-column,
.board .column-add-card,
.board .fa-trash {
  outline: none;
  background-color: #5e9bff;
  margin-right: 5px;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.board .create-column:hover,
.board .column-add-card:hover,
.board .fa-trash:hover {
  background-color: #75a7f9;
  -webkit-transition: 1s;
  transition: 1s;
}

.board .column-container {
  width: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.board .column {
  width: calc(100% / 3 - 40px);
  margin: 20px;
  max-width: 33.3%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.board .column .column-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  word-wrap: break-word;
}

.board .column .card-list {
  max-width: 100%;
  min-height: 50px;
}

.board .card {
  max-width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.board .card p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 100%;
  margin: 0;
  word-wrap: break-word;
  cursor: move;
}
