* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #0079bf;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'PT Sans', sans-serif;
}

.board {
  text-align: center;
}

.board .board-title {
  padding: 36px;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
}

.board form {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

.board .create-column-input {
  padding: 20px 50px 20px 10px;
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.board .create-column-input:focus, .board .create-column-input:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.board .create-column-input::-webkit-input-placeholder {
  color: #fff;
}

.board .create-column-input:-ms-input-placeholder {
  color: #fff;
}

.board .create-column-input::placeholder {
  color: #fff;
}

.board .column-container {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.board .column-container .column {
  min-width: 320px;
  position: relative;
  margin: 50px 20px;
  padding: 20px 10px;
  background-color: #e2e4e6;
  border-radius: 5px;
}

.board .column-container .column .column-delete {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  background-color: #75a7f9;
  margin-right: 5px;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.board .column-container .column .column-delete:hover {
  background-color: #558eed;
  -webkit-transition: 1s;
  transition: 1s;
}

.board .column-container .column .column-title {
  text-transform: capitalize;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  word-wrap: break-word;
  margin: 0;
}

.board .column-container .column .column-form {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.board .column-container .column .column-form .column-input {
  margin: 0 auto;
  width: 90%;
  padding: 10px 40px 10px 5px;
  outline: none;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
}

.board .column-container .column .column-form .column-add-card {
  right: 15px;
  color: #333;
}

.board .column-container .column .card-list {
  padding: 0;
  min-height: 60px;
}

.board .column-container .column .card-list .card {
  padding: 0 10px;
  margin-top: 20px;
  background-color: rgba(0, 121, 191, 0.5);
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.board .column-container .column .card-list .card .card-trash {
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  -webkit-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.board .column-container .column .card-list .card .card-trash:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.board .column-container .column .card-list .card p {
  padding-right: 30px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 300px;
  word-wrap: break-word;
  cursor: move;
}

.board .column-container .column .card-list .card:hover .card-trash {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.board .column-container .column .card-list .card.done {
  text-decoration: line-through;
  background-color: rgba(0, 0, 0, 0.2);
}

.board .column-container .column .card-list .card.done p {
  color: #333;
}

.board .column-container .column .card-list .card.done .card-trash {
  color: #333;
}

.fa-plus {
  position: absolute;
  right: 0;
  top: 50%;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.fa-plus:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
